<%= form_for @feedback, :html => { :class => "form-horizontal feedback" } do |f| %>

    <% if @feedback.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @feedback.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= error_span(@feedback[:user_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :author_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author_id, :class => 'form-control' %>
    </div>
    <%= error_span(@feedback[:author_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :positive_content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :positive_content, :class => 'form-control' %>
    </div>
    <%= error_span(@feedback[:positive_content]) %>
  </div>
  <div class="control-group">
    <%= f.label :improvement_content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :improvement_content, :class => 'form-control' %>
    </div>
    <%= error_span(@feedback[:improvement_content]) %>
  </div>
  <div class="control-group">
    <%= f.label :tags, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tags, :class => 'form-control' %>
    </div>
    <%= error_span(@feedback[:tags]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            feedbacks_path, :class => 'btn btn-default' %>

<% end %>
